@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
.App {
  text-align: center;
}

section{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
main{
  width: 100%;
}
#stepsSection{
  background: #F8F8F8;
  padding: 40px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
