@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
.App {
  text-align: center;
  max-width: 2000px;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
main {
  width: 100%;
}
#stepsSection {
  background: #f8f8f8;
  padding: 40px 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
select,button,input{
  outline: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
